/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* General styles for a, .btn, etc., if any */
a,
.btn {
  transition: colors 0.2s;
  &:hover {
    color: var(--color-secondary);
  }
  &:focus {
    outline: none;
    ring: 2px var(--color-secondary);
    ring-offset: 2px;
    ring-offset-color: transparent;
  }
}

