---
import ContentSection from "./content-section.astro";
---

<ContentSection title="About the Festival" id="about">
  <Fragment slot="lead">
    <h1>Welcome to the Cookie Table Film Festival!</h1>
  </Fragment>
  <p>Get ready to laugh your heart out at our inaugural event celebrating the best in comedy cinema. Located in the heart of Pittsburgh, our festival is dedicated to showcasing hilarious films from both local and international filmmakers. Join us for a day filled with side-splitting screenings, live comedy acts, insightful Q&As, and plenty of networking opportunities. Whether you're a seasoned filmmaker, an aspiring comedian, or simply a lover of laughter, the Cookie Table Film Festival has something for everyone.
  </p>
</ContentSection>
