---
import SectionLayout from "../layouts/section-layout.astro";
---
<SectionLayout title="Contact Us" id="contact" headline="Have questions?">
  <Fragment slot="content">
    <p class="mb-4">
      We're here to help! Reach out to us at info@cookietablefilmfest.com or connect with us on social media:
    </p>
    <div class="text-left">
      <ul class="list-disc pl-5 font-roboto mb-4">
        <li>Facebook: @cookietablefilmfest</li>
        <li>Instagram: @cookietablefilmfest</li>
        <li>Twitter: @cookiefilmfest</li>
      </ul>
    </div>
  </Fragment>
</SectionLayout>
