---
import SectionLayout from "../layouts/section-layout.astro";
---
<SectionLayout title="Contact Us" id="contact">
  <Fragment slot="content">
    <p class="mb-4">
      Reach out to us at info@cookiesfilmfest.com or on Facebook @cookiesfilmfest
    </p>
  </Fragment>
</SectionLayout>
