---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Contact Us" id="contact">
  <Fragment slot="lead">
    <h1>Have questions?</h1>
    <p>
      We're here to help! Reach out to us at info@cookietablefilmfest.com or connect with us on social media:
      <ul>
        <li>Facebook: @cookietablefilmfest</li>
        <li>Instagram: @cookietablefilmfest</li>
        <li>Twitter: @cookiefilmfest</li>
      </ul>
    </p>
  </Fragment>
</ContentSection>
