---
import SectionLayout from "../layouts/section-layout.astro";
---

<SectionLayout title="Our Mission" id="mission">
  <Fragment slot="content">
    <p class="text-justify mb-8">
      We aim to create an unforgettable experience filled with joy and laughter in Pittsburgh. Our event showcases top comedy short films, both local and from around the world. You can expect:
    </p>
    <div class="text-left mb-8">
      <ul class="list-disc pl-6 space-y-4">
        <li><strong>Hilarious Screenings:</strong> A curated selection of the funniest films from around the world and from our talented local filmmakers.</li>
        <li><strong>Live Comedy Acts:</strong> Hosted by three of Pittsburgh's top standup comics.</li>
        <li><strong>Insightful Q&As:</strong> Interactive sessions with filmmakers.</li>
        <li><strong>Networking Opportunities:</strong> Connect with industry professionals, fellow filmmakers, and comedy enthusiasts.</li>
        <li><strong>Cookies:</strong> Enjoy a special cookie table at the award ceremony, celebrating Pittsburgh's rich cultural heritage.</li>
      </ul>
    </div>
    <p class="text-justify">
      The Cookie Table Film Festival was made for filmmakers, comics, and everyone else who loves to laugh. Join us!
    </p>
  </Fragment>
</SectionLayout>
