---
import SectionLayout from "../layouts/section-layout.astro";
---

<SectionLayout title="Our Mission" id="mission">
  <Fragment slot="content">
    <p class="text-justify mb-8">
      We're turning Pittsburgh into a comedy powerhouse! Our festival is packed with top-notch comedy short films from our own yinzers and funny folks from all over the globe. Expect more laughs than you can shake a pierogi at! Here’s what’s comin’ dahn the road:
    </p>
    <div class="text-left mb-8">
      <ul class="list-disc pl-6 space-y-4">
        <li><strong>Hilarious Screenings:</strong> A curated selection of the funniest films from around the world and from our talented local filmmakers.</li>
        <li><strong>Live Comedy Acts:</strong> Film blocks hosted by Pittsburgh's top standup comics.</li>
        <li><strong>Insightful Q&As:</strong> Interactive sessions with filmmakers.</li>
        <li><strong>Networking Opportunities:</strong> Connect with industry professionals, fellow filmmakers, and comedy enthusiasts.</li>
        <li><strong>Cookies:</strong> Enjoy a Pittsburgh-style cookie table at the award ceremony.</li>
      </ul>
    </div>
    <p class="text-center text-xl mt-16">
      The Cookies and Comedy Film Festival
    </p>
    <p class="text-center text-2xl font-caveat highlight-text mt-8">
      Come for the laughs! Stay for the cookies!
    </p>
  </Fragment>
</SectionLayout>

<style>
  .font-caveat {
    font-family: 'Caveat', cursive;
  }

  .highlight-text {
    color: #ff7f50; /* Matching color for emphasized text */
  }
</style>
