---
import { Image } from 'astro:assets';
import cookieTableImage from '../assets/cookie-table.jpg';
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-screen">
  <div class="relative h-full w-full">
    <Image src={cookieTableImage} alt="Cookie Table" class="w-full h-full object-cover" />
    <div class="absolute inset-0 flex flex-col items-center justify-center text-white bg-black bg-opacity-50">
      <h2 class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl lg:text-10xl font-caveat  leading-tight md:leading-snug lg:leading-snug p-5">
        The<br />Cookie Table<br />Film Festival
      </h2>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #splash-bg-fallback {
      @apply block;
    }
  }
  .gradient-text {
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1.25rem;
  }
</style>