---
import { Image } from 'astro:assets';
import cookieTableImage from '../assets/cookie-table.jpg';
import filmFestivalText from '../assets/cookies-and-comedy-text.svg';
---
<section class="relative h-screen">
  <div class="relative h-full w-full">
    <Image src={cookieTableImage} alt="Cookie Table" class="w-full h-full object-cover" />
    <div class="overlay"></div>
    <div class="absolute center responsive-container">
      <Image src={filmFestivalText} alt="Film Festival" class="responsive-image" />
      <div class="tagline responsive-text">
        Come for the laughs! Stay for the cookies!
      </div>
    </div>
  </div>
</section>

<style>
  .absolute {
    position: absolute;
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .responsive-image {
    width: 90%;
    max-width: 800px;
  }

  .tagline {
    font-family: 'Caveat', 'Comic Sans MS', cursive;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    .responsive-image {
      width: 95%;
      max-width: 850px;
    }

    .tagline {
      font-size: 1.2rem;
    }
  }

  @media (orientation: landscape) and (max-width: 768px) {
    .responsive-container {
      gap: 2rem;
    }

    .tagline {
      font-size: 1.3rem;
    }
  }

  @media (min-width: 1024px) {
    .responsive-image {
      max-width: 1500px;
    }

    .tagline {
      font-size: 2rem;
    }
  }
</style>
</write_to_file>
