---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Film Submission" id="submission">
  <Fragment slot="lead">
    <h1>Submit Your Film</h1>
    <p>We are thrilled to invite filmmakers from around the world to submit their comedy films to the Cookie Table Film Festival.</p>
    
    <h2>Submission Guidelines:</h2>
    <ul>
      <li><strong>Genre:</strong> Films must be primarily comedy.</li>
      <li><strong>Completion Date:</strong> Films should have been completed after January 1, 2023.</li>
      <li><strong>Language:</strong> Non-English films must include English subtitles.</li>
      <li><strong>Length:</strong> Films should not exceed 20 minutes.</li>
      <li><strong>Premiere Status:</strong> Preference will be given to Pittsburgh premieres.</li>
    </ul>
    
    <h2>Submission Requirements:</h2>
    <ul>
      <li>Film Synopsis (50 words max)</li>
      <li>Country of Origin</li>
      <li>Languages Spoken</li>
      <li>Genres (Comedy and any others that apply)</li>
      <li>Length of Film</li>
      <li>Prior Festival Screenings</li>
      <li>Honors and Awards</li>
      <li>Filmmaker Contact Information</li>
      <li>Director’s Bio (100 words max)</li>
      <li>Personal Statement (100 words max)</li>
    </ul>
    
    <h2>Key Dates:</h2>
    <ul>
      <li><strong>Submission Deadline:</strong> December 31, 2024</li>
      <li><strong>Notification Date:</strong> February 8, 2025</li>
      <li><strong>Festival Date:</strong> March 8, 2025</li>
    </ul>
    
    <p>Submit your film via <a href="https://www.filmfreeway.com" target="_blank">FilmFreeway</a>. For more information, contact us at <a href="mailto:info@cookietablefilmfest.com">info@cookietablefilmfest.com</a>.</p>
  </Fragment>
</ContentSection>
