---
import SectionLayout from "../layouts/section-layout.astro";
---

<SectionLayout title="Film Submission" id="submission">
  <Fragment slot="content">
    <p class="text-center mb-14">Filmmakers around the world, submit your comedy films to the Cookies and Comedy Film Festival!</p>
    <div class="mb-8 flex justify-center">
      <a href="https://filmfreeway.com/festivals/81910?utm_campaign=Cookies+and+Comedy+Film+Festival&utm_medium=External&utm_source=Submission+Button" target="_blank" title="Click to submit on FilmFreeway">
        <img src="https://public-assets.filmfreeway.com/submission_buttons/v2/med_submission_btn@2x-sky-gradient.png" title="Click to submit on FilmFreeway" width="263" height="102">
      </a>
    </div>
    <h2 class="font-caveat text-xl p-5">Submission Guidelines:</h2>
    <div class="text-left">
      <ul class="list-disc pl-6 space-y-4 mb-8">
        <li><strong>Genre:</strong> Films must be primarily comedy.</li>
        <li><strong>Completion Date:</strong> Films should have been completed after January 1, 2022.</li>
        <li><strong>Language:</strong> Non-English films must include English subtitles.</li>
        <li><strong>Length:</strong> Films should not exceed 20 minutes.</li>
      </ul>
    </div>
    
    <h2 class="font-caveat text-xl p-5">Submission Requirements:</h2>
    <div class="text-left">
      <ul class="list-disc pl-6 space-y-4 mb-8">
        <li>Film Synopsis (50 words max)</li>
        <li>Country of Origin</li>
        <li>Languages Spoken</li>
        <li>Genres (if any in addition to comedy)</li>
        <li>Length of Film</li>
        <li>Prior Festival Screenings</li>
        <li>Honors and Awards</li>
        <li>Filmmaker Contact Information</li>
        <li>Director’s Bio (100 words max, optional)</li>
        <li>Personal Statement (100 words max, optional)</li>
      </ul>
    </div>
    
    <h2 class="font-caveat text-xl p-5">Key Dates:</h2>
    <div class="text-left">
      <ul class="list-disc pl-6 space-y-4 mb-14">
        <li><strong>Submission Deadline:</strong> December 31, 2024</li>
        <li><strong>Notification Date:</strong> January 12, 2025</li>
        <li><strong>Festival Date:</strong> March 8, 2025</li>
      </ul>
    </div>
    <div class="mb-14 flex justify-center">
      <a href="https://filmfreeway.com/festivals/81910?utm_campaign=Cookies+and+Comedy+Film+Festival&utm_medium=External&utm_source=Submission+Button" target="_blank" title="Click to submit on FilmFreeway">
        <img src="https://public-assets.filmfreeway.com/submission_buttons/v2/med_submission_btn@2x-sky-gradient.png" title="Click to submit on FilmFreeway" width="263" height="102">
      </a>
    </div>
    <p class="text-center">For more information, contact us at <a href="mailto:info@cookiesfilmfest.com" class="text-blue-500 underline">info@cookiesfilmfest.com</a>.</p>
  </Fragment>
</SectionLayout>
<style>
  .font-caveat {
    font-family: 'Caveat', cursive;
  }
</style>