---
import ContentSection from "./content-section.astro";
export interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<ContentSection title={title} id={id}>
  <Fragment slot="lead">
    <div class="section-content px-4">
      <slot name="content" />
    </div>
  </Fragment>
</ContentSection>

<style>
  .section-content {
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
  }
</style>
